*{
    margin: 0;
    padding: 0;
}

.head {
    margin-bottom: 5vh;
}

.head img{
    width: 15vw;
    margin-top: 2vh;
}

nav {
    border-radius: 5px;
}

.link-icons {
    margin-top: 10vh;
}

.topnav{
    display: flex;
    justify-content: center;
    align-items: center;
}